body {
    background-color: white;
    font-family: "Hind Siliguri", sans-serif;
}

.imgbox img {
    width: 100%;
}

#noloadwarn {
    display: none;
}

.indent {
    margin-left: 2%;
}

.code {
    background: #ddd;
    margin: 0px 2%;
    padding-left: 1%;
}

.code + small {
    margin-left: 2%;
}

.keyword {
    color: blue;
}

.value {
    color: red;
}

code > p {
    margin: 0.1em 0px;
}

menu ol {
    color: #0066ff;
}

#tutorials-submenu.show {
    display: block;
}

#tutorials-submenu:not(.show) {
    display: none;
}

#currentpagebtn {
    color: green;
}

a {
    text-decoration: none;
    color: #0066ff;
}

h2 {
    text-align: center;
}

ul {
    list-style: none;
}

section > img {
    display: block;
    margin: 0px auto;
}

table {
    width: 90%;
    border-collapse: collapse;
    border-spacing: 0;
}

tr:nth-child(even) {
    background: #eee;
}

td:first-child {
    padding-left: 1%;
}

th:first-child {
    padding-left: 1%;
}

th, td {
    width: 10%;
    text-align: left;
}

@media screen and (min-width: 600px) {
    .mobileonly {
        display: none;
    }
    
    article {
        font-size: 1.5em;
    }

    code {
        font-size: 1.2em;
    }

    menu {
        box-sizing: border-box;
        position: fixed;
        padding: 1% 0px;
        width: 15%;
        max-width: 15%;
        min-height: 100%;
        top: 0px;
        left: 0px;
        margin-top: 0px;
        border-right: 1px solid #111;
        background-color: #aaa;
    }

    menu > h1 {
        margin-left: 10%;
    }
    
    main {
        box-sizing: border-box;
        position: absolute;
        left: 15%;
        min-width: 84%;
        max-width: 84%;
        width: 85%;
        margin: 0px 1% 0px;
        background-color: #fff;
    }

    header > h1 {
        display: inline;
        margin-left: 16%;
    }
}
    
@media screen and (max-width: 599px) {
    menu {
        display: none;
    }
    
    .mobileonly {
        display: show;
    }

    header > h1 {
        display: inline;
        margin-left: 5%;
    }

    /*Parent of #menubtn*/
    #menubtn {
        border: 1px solid black;
        border-radius: 15px;
        width: 15%;
        max-width: 15%;
        float: left;
        margin-top: 1%;
        margin-left: 1%;
        aspect-ratio: 1;
        display: grid;
        align-items: center;
        box-sizing: border-box;
    }

    /*Center the <h1> so it is next to the svg image*/
    header > h1 {
        display: inline;
        margin-left: 5%;
    }

    #menubtn img {
        margin: 10%;
        width: 80%;
        aspect-ratio: 1;
    }

    .mobileshow {
        box-sizing: border-box;
        border: 1px solid black;
        border-radius: 15px;
        display: block;
        min-height: 100%;
        min-width: 100%;
    }
}

@media print {
    header {
        display: none;
    }

    menu {
        display: none;
    }

    main {
        display: block;
        margin: 0px auto;
    }
}