* {
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: "Hind Siliguri", sans-serif;
}

main {
    padding-right: 2vw;
    text-align: justify;
}

.imgbox img {
    width: 100%;
}

.decorated {
    list-style: disc;
}

#noloadwarn {
    display: none;
}

.code {
    background: #ddd;
    margin: 0px 2%;
    padding-left: 1%;
    height: 14rem;
}

.code + small {
    margin-left: 2%;
}

.keyword {
    color: blue;
}

.value {
    color: red;
}

code > p {
    margin: 0.1em 0px;
}

.code iframe {
    width: 100%;
    height: 100%;
}

.code {
    padding: 0px 5px 5px 5px;
    resize: vertical;
    overflow: hidden;
}

menu ol {
    color: #0066ff;
}

li.menuexpand > #tutorials-submenu {
    display: block;
}

li:not(.menuexpand) > #tutorials-submenu {
    display: none;
}

#currentpagebtn {
    color: green;
}

#currentpagebtn > a {
    color: green;
}

.indent {
    margin-left: 8px;
}

.indent::before {
    content: "Output: ";
    visibility: hidden;
}

a {
    text-decoration: none;
    color: #0066ff;
}

h2 {
    text-align: center;
}

ul {
    list-style: none;
}

section > img {
    display: block;
    margin: 0px auto;
}

table {
    width: 90%;
    border-collapse: collapse;
    border-spacing: 0;
}

tr:nth-child(even) {
    background: #eee;
}

td:first-child {
    padding-left: 1%;
}

th:first-child {
    padding-left: 1%;
}

th, td {
    width: 10%;
    text-align: left;
}

@media screen and (min-width: 600px) {
    .mobileonly, .mobileonly * {
        display: none;
    }

    body {
        padding-left: 205px;
    }
    
    article {
        font-size: 1.5em;
    }

    code {
        font-size: 1.2em;
    }

    menu > ul {
        padding-left: 0px;
    }

    menu > ul > li {
        padding: 0px;
        font-size: larger;
    }
    
    menu > ul > li > a {
        padding: .1em 0px .1em 40px;
        display: block;
    }

    menu > ul > li > a:hover {
        background-color: rgba(0, 0, 0, .1);
    }

    #tutorials-submenu {
        list-style-type: none;
        padding: 0px;
        counter-reset: submenu-list-counter;
    }

    #tutorials-submenu > li > a {
        padding-left: 60px;
    }

    #tutorials-submenu > li > a::before {
        content: counter(submenu-list-counter, decimal-leading-zero) ". ";
        counter-increment: submenu-list-counter;
    }

    menu {
        box-sizing: border-box;
        position: fixed;
        padding: 1% 0px;
        width: 205px;
        max-width: 205px;
        min-width: 205px;
        min-height: 100%;
        top: 0px;
        left: 0px;
        margin-top: 0px;
        border-right: 1px solid #111;
        background-color: #aaa;
    }

    menu > h1 {
        margin-left: 10%;
    }
    
    main {
        box-sizing: border-box;
        position: absolute;
        left: 200px;
        max-width: calc(100% - 215px);
        width: 85%;
        overflow-x: hidden;
        margin: 0px 1% 0px;
        background-color: #fff;
    }

    .menuexpand > * > li:hover {
        background: #999;
    }

    header > h1 {
        display: inline;
        margin-left: 6%;
    }
}
    
@media screen and (max-width: 599px) {
    menu {
        display: none;
    }
    
    .mobileonly {
        display: block;
    }

    header > h1 {
        display: inline;
        margin-left: 5%;
    }

    menu > ul {
        position: fixed;
        top: 90px;
        font-size: x-large;
    }

    .indent {
        margin-left: 5px;
    }

    /*Parent of #menubtn*/
    #menubtn {
        border: 1px solid black;
        border-radius: 15px;
        width: 15%;
        max-width: 15%;
        float: left;
        margin-top: 1%;
        margin-left: 1%;
        aspect-ratio: 1;
        display: grid;
        align-items: center;
        box-sizing: border-box;
    }

    /*Center the <h1> so it is next to the svg image*/
    header > h1 {
        display: inline;
        margin-left: 5%;
    }

    #menubtn img {
        margin: 10%;
        width: 80%;
        aspect-ratio: 1;
    }

    .mobileshow {
        box-sizing: border-box;
        border: 1px solid black;
        border-radius: 0px;
        display: block;
        min-height: 100%;
        min-width: 100%;
        position: fixed;
        left: 0px;
        top: 0px;
        margin-top: 0px;
        background-color: white;
    }

    menu > h1 {
        float: left;
        width: 90%;
        height: 3%;
        top: 1%;
    }

    #mobilemenuexit {
        float: right;
        top: 1%;
        width: 10%;
        height: 1%;
        vertical-align: middle;
        font-size: xx-large;
    }

    #mobilemenuexit:hover {
        cursor: pointer;
    }

    #mobilemenuexit > img {
        position: relative;
        left: 0px;
        top: 90%;
        aspect-ratio: 1;
        width: 26px;
    }
}

@media print {
    header, menu {
        display: none;
    }

    main {
        display: block;
        margin: 0px auto;
    }
}